<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.coice">

    <!-- Permissions -->
    <uses-permission android:name="android.permission.INTERNET"/>
  <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
<uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>

    <!-- Optional camera -->
    <uses-feature
        android:name="android.hardware.camera"
        android:required="false"/>

   <application
    android:name="${applicationName}"
    android:label="@string/app_name"
    android:icon="@mipmap/ic_launcher"
    android:theme="@style/NormalTheme">

        <!-- Facebook -->
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id"/>

        <provider
            android:name="com.facebook.FacebookContentProvider"
            android:authorities="com.facebook.app.FacebookContentProvider586023837907921"
            android:exported="true"/>

        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name"/>

        <!-- Google Maps -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="YOUR_GOOGLE_MAPS_KEY"/>

        <!-- MAIN ACTIVITY -->
     <activity
    android:name=".MainActivity"
    android:exported="true"
    android:theme="@style/NormalTheme"
    android:launchMode="singleTop"
    android:configChanges="orientation|keyboardHidden|keyboard|screenSize|locale|layoutDirection|fontScale|screenLayout|density|uiMode"
    android:hardwareAccelerated="true"
    android:windowSoftInputMode="adjustResize">
    
    <intent-filter>
        <action android:name="android.intent.action.MAIN"/>
        <category android:name="android.intent.category.LAUNCHER"/>
    </intent-filter>
</activity>

        <meta-data
            android:name="flutterEmbedding"
            android:value="2"/>

    </application>

    <queries>
        <intent>
            <action android:name="android.intent.action.PROCESS_TEXT"/>
            <data android:mimeType="text/plain"/>
        </intent>
    </queries>

</manifest>
